#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

// Custom behaviors
/ {
    behaviors {
        // Layer-tap and mouse click
        lt_mkp: lt_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MKP";
            bindings = <&mo>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    // Keymap definition
    keymap {
        compatible = "zmk,keymap";
        
        // Default layer
        default_layer {
            bindings = <
                &lt_mkp 1 RCLK  &mkp MCLK  &mkp LCLK
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        
        // Mouse layer (activated by trackball movement)
        mouse_layer {
            bindings = <
                &mkp RCLK  &mkp MCLK  &mkp LCLK
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
        
        // Scroll layer
        scroll_layer {
            bindings = <
                &trans  &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };
        
        // Precision/snipe layer
        snipe_layer {
            bindings = <
                &mkp RCLK  &mkp MCLK  &mkp LCLK
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };
        
        // Bluetooth control layer
        bt_layer {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };
        
        // RGB control layer
        rgb_layer {
            bindings = <
                &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_BRI
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Press left+middle buttons to enter Bluetooth layer
        combo_bt {
            bindings = <&mo 4>;
            key-positions = <0 1>;
            timeout-ms = <50>;
        };
        
        // Press middle+right buttons to toggle scroll layer
        combo_scroll {
            bindings = <&mo 2>;
            key-positions = <1 2>;
            timeout-ms = <50>;
        };
        
        // Press all 3 buttons to enter RGB control layer
        combo_rgb {
            bindings = <&mo 5>;
            key-positions = <0 1 2>;
            timeout-ms = <50>;
        };
    };
};
