#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors.dtsi>

// Custom behaviors
/ {
    behaviors {
        // Layer-tap and mouse click
        lt_mkp: lt_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MKP";
            bindings = <&mo>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    // Keymap definition
    keymap {
        compatible = "zmk,keymap";
        
        // Default layer - Upward orientation (0)
        upward_layer {
            bindings = <
                &lt_mkp 5 MB3  &mkp MB2  &mkp MB1
            >;
        };
        
        // Mouse movement layer (activated by trackball)
        mouse_layer {
            bindings = <
                &mkp MB3  &mkp MB2  &mkp MB1
            >;
        };
        
        // Scroll layer 
        scroll_layer {
            bindings = <
                &trans  &trans  &trans
            >;
        };
        
        // Precision/snipe layer
        snipe_layer {
            bindings = <
                &mkp MB3  &mkp MB2  &mkp MB1
            >;
        };
        
        // Downward orientation 
        downward_layer {
            bindings = <
                &lt_mkp 5 MB1  &mkp MB2  &mkp MB3
            >;
        };
        
        // RGB & Bluetooth control layer
        settings_layer {
            bindings = <
                &bt BT_CLR  &rgb_ug RGB_TOG  &bt BT_SEL 0
            >;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        
        // Press button 1+2 to enter settings layer
        combo_settings {
            bindings = <&mo 5>;
            key-positions = <0 1>;
            timeout-ms = <50>;
        };
        
        // Press button 2+3 to toggle scroll layer
        combo_scroll {
            bindings = <&mo 2>;
            key-positions = <1 2>;
            timeout-ms = <50>;
        };
        
        // Press all three buttons to toggle orientation
        combo_orientation {
            bindings = <&to 4>;
            key-positions = <0 1 2>;
            timeout-ms = <50>;
            layers = <0>;
        };
        
        // Press all three buttons to go back to normal orientation
        combo_orientation_back {
            bindings = <&to 0>;
            key-positions = <0 1 2>;
            timeout-ms = <50>;
            layers = <4>;
        };
    };
};