#include <behaviors.dtsi>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        upper {
            bindings = <
&mkp MB1  &mkp MB3  &mkp MB2
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower {
            bindings = <
&trans  &trans  &trans
            >;
        };

        middle {
            bindings = <
&trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans
            >;
        };
    };
};
